.Splash {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; }
  .Splash__container {
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1485199926533-8c38475abf2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 100%; }
    @media screen and (max-width: 600px) {
      .Splash__container {
        width: 100%;
        flex: 0 0 100%;
        overflow: hidden; } }
  .Splash__auth {
    display: flex;
    justify-content: center;
    flex: 1;
    height: 100%; }
    @media screen and (max-width: 600px) {
      .Splash__auth {
        top: 0;
        position: fixed;
        right: 0;
        height: 100%;
        width: 80%;
        background-color: white;
        transition: 0.3s all; }
        .Splash__auth-active {
          transition: 0.3s all;
          transform: translateX(100%); } }
  .Splash__ham {
    position: absolute;
    z-index: 20;
    display: flex;
    flex-direction: column;
    right: 1.5rem;
    top: 1.5rem;
    display: none; }
    .Splash__ham span {
      margin-bottom: 0.5rem;
      display: block;
      height: 0.1rem;
      width: 2rem;
      background-color: #6599ff; }
    @media screen and (max-width: 600px) {
      .Splash__ham {
        display: block; } }
  .Splash__title {
    font-size: 10rem;
    margin-bottom: 8rem;
    font-family: "Handlee", cursive;
    color: #6599ff; }
    @media screen and (max-width: 750px) {
      .Splash__title {
        font-size: 8rem; } }
  .Splash__button {
    width: 20%;
    border: none;
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
    font-family: Abel, sans-serif;
    transition: all 0.2s;
    background-color: white; }
    .Splash__button:hover {
      background-color: #6599ff;
      color: white; }
    .Splash__button:focus {
      outline: none; }

.Appt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  font-family: Abel, sans-serif; }
  .Appt__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%; }
  .Appt__title {
    font-family: Abel, sans-serif;
    font-size: 3rem; }

.User {
  padding: 5rem;
  font-family: Abel, sans-serif; }
  .User__title {
    font-size: 3rem; }
  .User__users {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .User__search {
    display: flex; }
    .User__search > * {
      margin-right: 1rem; }
  .User__select {
    position: relative; }
  .User__value {
    border: 0.1rem solid #6599ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 10rem;
    padding: 0.5rem 0.5rem;
    font-size: 1.3rem; }
    .User__value:hover {
      border: 0.1rem solid rgba(101, 153, 255, 0.6);
      cursor: pointer; }
  .User__options {
    position: absolute;
    width: 100%;
    list-style: none;
    -webkit-box-shadow: 0px 1px 1px 0px #4d4e53;
    -moz-box-shadow: 0px 1px 1px 0px #4d4e53;
    box-shadow: 0px 1px 1px 0px #4d4e53; }
    .User__options li {
      transition: 0.2s all;
      font-size: 1.3rem;
      padding: 0.8rem; }
      .User__options li:hover {
        background-color: #6599ff;
        cursor: pointer; }
  .User__filtered {
    position: relative;
    min-width: 30%; }
    .User__filtered input {
      height: 100%;
      border: 0.1rem solid #6599ff;
      font-family: Abel, sans-serif;
      font-size: 1.3rem;
      padding: 1rem;
      width: 100%; }
      .User__filtered input:focus {
        outline: none;
        border: 0.1rem solid rgba(101, 153, 255, 0.6); }
    .User__filtered ul {
      position: absolute;
      z-index: 10;
      width: 100%;
      list-style: none;
      background-color: white;
      -webkit-box-shadow: 0px 1px 1px 0px #4d4e53;
      -moz-box-shadow: 0px 1px 1px 0px #4d4e53;
      box-shadow: 0px 1px 1px 0px #4d4e53; }
      .User__filtered ul li {
        transition: 0.2s all;
        font-size: 1.3rem;
        padding: 0.8rem; }
        .User__filtered ul li:hover {
          background-color: #6599ff;
          cursor: pointer; }
  .User button {
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    font-family: Abel, sans-serif;
    transition: all 0.2s;
    border: 0.1rem solid #6599ff; }
    .User button:focus {
      outline: none; }
    .User button:hover {
      color: white;
      background-color: #6599ff; }

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 30rem;
  height: 30rem;
  border: 0.1rem solid #6599ff;
  font-family: Abel, sans-serif;
  margin: 0.3rem; }
  .Card__body {
    font-size: 1.3rem;
    height: 3.9rem; }

.Form {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .Form__title {
    font-family: Abel, sans-serif; }
  .Form__button {
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    font-family: Abel, sans-serif;
    transition: all 0.2s;
    border: 0.1rem solid #6599ff; }
    .Form__button:focus {
      outline: none; }
    .Form__button:hover {
      color: white;
      background-color: #6599ff; }
  .Form__buttons {
    width: 100%;
    display: flex;
    justify-content: space-around; }

.FormOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%; }
  .FormOne__input {
    border: none;
    border-bottom: 0.1rem solid rgba(101, 153, 255, 0.6);
    transition: all 0.2s;
    width: 100%;
    margin-bottom: 3rem;
    padding: 1rem 1rem 0.5rem 1rem;
    font-size: 1.5rem;
    font-family: Abel, sans-serif; }
    .FormOne__input:focus {
      outline: none;
      border-bottom: 0.1rem solid #6599ff; }
  .FormOne__text {
    resize: none;
    width: 100%; }
    .FormOne__text:focus {
      outline: none; }
  .FormOne__error {
    color: red;
    font-size: 1rem;
    font-family: Abel, sans-serif; }
  .FormOne__errorMessage {
    height: 1.5rem; }

.FormTwo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%; }
  .FormTwo__chosen {
    background-color: #6599ff;
    color: white; }
  .FormTwo__top {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5rem; }
  .FormTwo__times {
    flex: 0 0 50%;
    display: flex;
    flex-wrap: wrap; }
  .FormTwo__time {
    width: 8rem;
    border: 0.1rem solid #6599ff;
    transition: all 0.2s;
    padding: 1rem;
    margin: 1rem; }
    .FormTwo__time-active:hover {
      cursor: pointer;
      background-color: #6599ff;
      color: white; }
    .FormTwo__time-inactive {
      color: rgba(0, 0, 0, 0.486); }
  .FormTwo__date {
    border: none;
    border-bottom: 1px solid #6599ff;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    font-size: 2rem;
    font-family: Abel, sans-serif; }
    .FormTwo__date:focus {
      outline: none; }

.FormThree {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .FormThree__title {
    font-family: Abel, sans-serif; }
  .FormThree__buttons {
    margin-top: 1rem; }

.Navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  font-family: Abel, sans-serif; }
  .Navbar__link {
    text-decoration: none;
    padding: 1rem 1.5rem;
    color: #6599ff;
    font-size: 2rem; }
    .Navbar__link:hover {
      color: rgba(101, 153, 255, 0.6); }
  .Navbar__logo {
    font-family: "Handlee", cursive;
    text-decoration: none;
    font-size: 2.5rem;
    color: #6599ff;
    margin-right: auto;
    margin-left: 2rem; }

.UserC {
  border: 0.1rem solid #6599ff;
  margin: 10rem 0.5rem 0.5rem 0.5rem;
  border-radius: 1rem; }
  .UserC > * {
    font-family: Abel, sans-serif; }
  .UserC__wrapper {
    max-width: 27rem;
    min-width: 27rem;
    min-height: 35rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%; }
  .UserC__img-wrapper {
    width: 48%;
    position: relative;
    flex: 1.5; }
  .UserC__image {
    width: 100%;
    border-radius: 100rem;
    object-fit: cover;
    position: absolute;
    border: 0.5rem solid #6599ff;
    top: -5rem; }
  .UserC__info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    width: 100%; }
    .UserC__info-wrapper > * {
      margin-bottom: 0.5rem; }
  .UserC__title {
    margin-bottom: 1rem;
    font-size: 1.3rem; }
  .UserC__name {
    font-size: 2.6rem; }
  .UserC__contact {
    font-size: 2rem; }
  .UserC__email {
    margin-bottom: 3rem;
    font-size: 1.5rem; }
  .UserC__book-btn {
    border: none;
    font-size: 1.5rem;
    padding: 0.8rem 1rem;
    font-family: Abel, sans-serif;
    transition: all 0.2s;
    border: 0.1rem solid #6599ff;
    width: 30%; }
    .UserC__book-btn:focus {
      outline: none; }
    .UserC__book-btn:hover {
      color: white;
      background-color: #6599ff;
      cursor: pointer; }

.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  width: 65%;
  background: white; }
  @media screen and (max-width: 1000px) {
    .Login {
      width: 80%; } }
  @media screen and (max-width: 750px) {
    .Login {
      width: 100%; } }
  @media screen and (max-width: 600px) {
    .Login {
      background-color: rgba(255, 255, 255, 0.712); } }
  .Login__input {
    background: none;
    border: none;
    border-bottom: 0.1rem solid rgba(101, 153, 255, 0.6);
    transition: all 0.2s;
    width: 100%;
    margin-bottom: 3rem;
    padding: 1rem 1rem 0.5rem 1rem;
    font-size: 1.5rem;
    font-family: Abel, sans-serif; }
    .Login__input:focus {
      outline: none;
      border-bottom: 0.1rem solid #6599ff; }
  .Login__button {
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    font-family: Abel, sans-serif;
    transition: all 0.2s;
    border: 0.1rem solid #6599ff;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 0; }
    .Login__button:focus {
      outline: none; }
    .Login__button:hover {
      color: white;
      background-color: #6599ff; }

.Signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  width: 65%;
  background: white; }
  @media screen and (max-width: 1000px) {
    .Signup {
      width: 80%; } }
  @media screen and (max-width: 750px) {
    .Signup {
      width: 100%; } }
  @media screen and (max-width: 600px) {
    .Signup {
      background-color: rgba(255, 255, 255, 0.712); } }
  .Signup__input {
    background: none;
    border: none;
    border-bottom: 0.1rem solid rgba(101, 153, 255, 0.6);
    transition: all 0.2s;
    width: 100%;
    margin-bottom: 3rem;
    padding: 1rem 1rem 0.5rem 1rem;
    font-size: 1.5rem;
    font-family: Abel, sans-serif; }
    .Signup__input:focus {
      outline: none;
      border-bottom: 0.1rem solid #6599ff; }
  .Signup__button {
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    font-family: Abel, sans-serif;
    transition: all 0.2s;
    border: 0.1rem solid #6599ff;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 0; }
    .Signup__button:focus {
      outline: none; }
    .Signup__button:hover {
      color: white;
      background-color: #6599ff; }

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 600px) {
    html {
      overflow-x: hidden; } }

body {
  font-size: 1rem; }
  @media screen and (max-width: 600px) {
    body {
      overflow-x: hidden; } }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none; }

/*# sourceMappingURL=style.css.map */
