.Splash {
  width: 100%;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1485199926533-8c38475abf2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center; }
  .Splash__container {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    width: 30%;
    height: 20rem; }
  .Splash__title {
    font-size: 7rem;
    font-family: Abel, sans-serif;
    color: #6599ff; }
  .Splash__button {
    width: 30%;
    border: none;
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
    font-family: Abel, sans-serif;
    transition: all 0.2s; }
    .Splash__button:hover {
      background-color: #6599ff;
      color: white; }
    .Splash__button:focus {
      outline: none; }

.Appt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .Appt__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%; }
  .Appt__title {
    font-family: Abel, sans-serif;
    font-size: 8rem; }

.User__users {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 30rem;
  height: 30rem;
  border: 0.1rem solid #6599ff;
  font-family: Abel, sans-serif;
  margin: 0.3rem; }
  .Card__body {
    font-size: 1.3rem;
    height: 3.9rem; }

.Form {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .Form__title {
    font-family: Abel, sans-serif; }
  .Form__button {
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    font-family: Abel, sans-serif;
    transition: all 0.2s;
    border: 0.1rem solid #6599ff; }
    .Form__button:focus {
      outline: none; }
    .Form__button:hover {
      color: white;
      background-color: #6599ff; }
  .Form__buttons {
    width: 100%;
    display: flex;
    justify-content: space-around; }

.FormOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%; }
  .FormOne__input {
    border: none;
    border-bottom: 0.1rem solid rgba(101, 153, 255, 0.6);
    transition: all 0.2s;
    width: 100%;
    margin-bottom: 3rem;
    padding: 1rem 1rem 0.5rem 1rem;
    font-size: 1.5rem;
    font-family: Abel, sans-serif; }
    .FormOne__input:focus {
      outline: none;
      border-bottom: 0.1rem solid #6599ff; }
  .FormOne__text {
    resize: none;
    width: 100%; }
    .FormOne__text:focus {
      outline: none; }
  .FormOne__error {
    color: red;
    font-size: 1rem;
    font-family: Abel, sans-serif; }

.FormTwo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%; }
  .FormTwo__chosen {
    background-color: #6599ff;
    color: white; }
  .FormTwo__top {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5rem; }
  .FormTwo__times {
    flex: 0 0 50%;
    display: flex;
    flex-wrap: wrap; }
  .FormTwo__time {
    width: 8rem;
    border: 0.1rem solid #6599ff;
    transition: all 0.2s;
    padding: 1rem;
    margin: 1rem; }
    .FormTwo__time-active:hover {
      cursor: pointer;
      background-color: #6599ff;
      color: white; }
    .FormTwo__time-inactive {
      color: rgba(0, 0, 0, 0.486); }
  .FormTwo__date {
    border: none;
    border-bottom: 1px solid #6599ff;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    font-size: 2rem;
    font-family: Abel, sans-serif; }
    .FormTwo__date:focus {
      outline: none; }

.FormThree {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .FormThree__title {
    font-family: Abel, sans-serif; }
  .FormThree__buttons {
    margin-top: 1rem; }

.Navbar {
  position: fixed; }
  .Navbar__link {
    text-decoration: none;
    padding: 1rem;
    color: #6599ff;
    font-size: 2rem; }
    .Navbar__link:hover {
      border-bottom: 0.2rem solid #6599ff; }

.UserC {
  border: 0.1rem solid #6599ff;
  margin: 5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 1rem; }
  .UserC > * {
    font-family: Abel, sans-serif; }
  .UserC__wrapper {
    max-width: 27rem;
    min-width: 27rem;
    min-height: 35rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%; }
  .UserC__img-wrapper {
    width: 48%;
    position: relative;
    flex: 1.5; }
  .UserC__image {
    width: 100%;
    border-radius: 100rem;
    object-fit: cover;
    position: absolute;
    border: 0.5rem solid #6599ff;
    top: -5rem; }
  .UserC__info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    width: 100%; }
    .UserC__info-wrapper > * {
      margin-bottom: 0.5rem; }
  .UserC__title {
    margin-bottom: 1rem;
    font-size: 1.3rem; }
  .UserC__name {
    font-size: 3rem; }
  .UserC__contact {
    font-size: 2rem; }
  .UserC__email {
    margin-bottom: 3rem;
    font-size: 1.5rem; }
  .UserC__book-btn {
    border: none;
    font-size: 1.5rem;
    padding: 0.8rem 1rem;
    font-family: Abel, sans-serif;
    transition: all 0.2s;
    border: 0.1rem solid #6599ff;
    width: 30%; }
    .UserC__book-btn:focus {
      outline: none; }
    .UserC__book-btn:hover {
      color: white;
      background-color: #6599ff;
      cursor: pointer; }

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1rem; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none; }

/*# sourceMappingURL=style.css.map */
