//########################
//#####Card###############
.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 30rem;
  height: 30rem;
  border: 0.1rem solid $primary-color;
  font-family: $primary-font;
  margin: 0.3rem;

  &__body {
    font-size: 1.3rem;
    height: 3.9rem;
  }
}

//########################
//#####FORM###############
.Form {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-family: $primary-font;
  }
  &__button {
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    font-family: $primary-font;
    transition: all 0.2s;
    border: 0.1rem solid $primary-color;

    &:focus {
      outline: none;
    }

    &:hover {
      color: white;
      background-color: $primary-color;
    }
  }

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}

//########################
//#####FORM1###############

.FormOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  &__input {
    border: none;
    border-bottom: 0.1rem solid $primary-color-1;
    transition: all 0.2s;
    width: 100%;
    margin-bottom: 3rem;
    padding: 1rem 1rem 0.5rem 1rem;
    font-size: 1.5rem;
    font-family: $primary-font;

    &:focus {
      outline: none;
      border-bottom: 0.1rem solid $primary-color;
    }
  }

  &__text {
    resize: none;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  &__error {
    color: red;
    font-size: 1rem;
    font-family: $primary-font;
  }
}

//########################
//#####FORM2###############

.FormTwo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;

  &__chosen {
    background-color: $primary-color;
    color: white;
  }

  &__top {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5rem;
  }

  &__times {
    flex: 0 0 50%;
    display: flex;
    flex-wrap: wrap;
  }

  &__time {
    width: 8rem;
    border: 0.1rem solid $primary-color;
    transition: all 0.2s;
    padding: 1rem;
    margin: 1rem;

    &-active {
      &:hover {
        cursor: pointer;
        background-color: $primary-color;
        color: white;
      }
    }

    &-inactive {
      color: rgba(0, 0, 0, 0.486);
    }
  }

  &__date {
    border: none;
    border-bottom: 1px solid $primary-color;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    font-size: 2rem;
    font-family: $primary-font;

    &:focus {
      outline: none;
    }
  }
}

//###############################
//#######FORM3##################

.FormThree {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__title {
    font-family: $primary-font;
  }

  &__buttons {
    margin-top: 1rem;
  }
}

//##########################
//#######NavBar#############
.Navbar {
  position: fixed;
  &__link {
    text-decoration: none;
    padding: 1rem;
    color: $primary-color;
    font-size: 2rem;
    // margin: 1rem;

    &:hover {
      border-bottom: 0.2rem solid $primary-color;
    }
  }
}

//################################
//#############CARD###############
.UserC {
  border: 0.1rem solid $primary-color;
  margin: 5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 1rem;

  & > * {
    font-family: $primary-font;
  }

  &__wrapper {
    // border: 0.1rem solid $primary-color;
    max-width: 27rem;
    min-width: 27rem;
    min-height: 35rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
  }

  &__img-wrapper {
    width: 48%;
    position: relative;
    flex: 1.5;
    // top: -5rem;
  }

  &__image {
    width: 100%;
    border-radius: 100rem;
    object-fit: cover;
    position: absolute;
    border: 0.5rem solid $primary-color;
    top: -5rem;
  }

  &__info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    width: 100%;

    & > * {
      margin-bottom: 0.5rem;
    }
  }

  &__title {
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }

  &__name {
    font-size: 3rem;
  }

  &__contact {
    font-size: 2rem;
  }

  &__email {
    margin-bottom: 3rem;
    font-size: 1.5rem;
  }

  &__book-btn {
    border: none;
    font-size: 1.5rem;
    padding: 0.8rem 1rem;
    font-family: $primary-font;
    transition: all 0.2s;
    border: 0.1rem solid $primary-color;
    width: 30%;

    &:focus {
      outline: none;
    }

    &:hover {
      color: white;
      background-color: $primary-color;
      cursor: pointer;
    }
  }
}
