//##############################
//#######SPLASH PAGE############
.Splash {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &__container {
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1485199926533-8c38475abf2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 100%;

    @media screen and (max-width: $phone) {
      width: 100%;
      flex: 0 0 100%;
      overflow: hidden;
    }
  }

  &__auth {
    display: flex;
    justify-content: center;
    flex: 1;

    @media screen and (max-width: $phone) {
      position: absolute;
      right: 0;
      height: 100%;
      width: 80%;
      background-color: rgba(255, 255, 255, 0.712);
      transition: 0.3s all;

      &-active {
        flex: 0;
        transition: 0.3s all;
        transform: translateX(100%);
      }
    }
  }

  &__ham {
    position: absolute;
    z-index: 20;
    display: flex;
    flex-direction: column;
    right: 1.5rem;
    top: 1.5rem;

    span {
      margin-bottom: 0.5rem;
      display: block;
      height: 0.1rem;
      width: 2rem;
      background-color: $primary-color;
    }
  }

  &__title {
    font-size: 10rem;
    margin-bottom: 8rem;
    font-family: $logo-font;
    color: $primary-color;

    @media screen and (max-width: $mini) {
      font-size: 8rem;
    }
  }

  &__button {
    width: 20%;
    border: none;
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
    font-family: $primary-font;
    transition: all 0.2s;

    &:hover {
      background-color: $primary-color;
      color: white;
    }

    &:focus {
      outline: none;
    }
  }
}

//###################################
//#########Appointment###############
.Appt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  font-family: $primary-font;

  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  &__title {
    font-family: $primary-font;
    font-size: 3rem;
  }
}

//#############################
//#########USERS###############
.User {
  padding: 5rem;
  font-family: $primary-font;

  &__title {
    font-size: 3rem;
  }
  &__users {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__search {
    display: flex;

    & > * {
      margin-right: 1rem;
    }
  }

  &__select {
    position: relative;
  }

  &__value {
    border: 0.1rem solid $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 10rem;
    padding: 0.5rem 0.5rem;
    font-size: 1.3rem;

    &:hover {
      border: 0.1rem solid $primary-color-1;
      cursor: pointer;
    }
  }

  &__options {
    position: absolute;
    width: 100%;
    list-style: none;
    // -webkit-box-shadow: 0px 1px 5px 0px rgba(244, 244, 244, 1);
    // -moz-box-shadow: 0px 1px 5px 0px rgba(244, 244, 244, 1);
    // box-shadow: 0px 1px 5px 0px rgba(244, 244, 244, 1);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(77, 78, 83, 1);
    -moz-box-shadow: 0px 1px 1px 0px rgba(77, 78, 83, 1);
    box-shadow: 0px 1px 1px 0px rgba(77, 78, 83, 1);

    li {
      transition: 0.2s all;
      font-size: 1.3rem;
      padding: 0.8rem;

      &:hover {
        background-color: $primary-color;
        cursor: pointer;
      }
    }
  }

  &__filtered {
    position: relative;
    min-width: 30%;
    input {
      height: 100%;
      border: 0.1rem solid $primary-color;
      font-family: $primary-font;
      font-size: 1.3rem;
      padding: 1rem;
      width: 100%;

      &:focus {
        outline: none;
        border: 0.1rem solid $primary-color-1;
      }
    }

    ul {
      position: absolute;
      z-index: 10;
      width: 100%;
      list-style: none;
      background-color: white;
      -webkit-box-shadow: 0px 1px 1px 0px rgba(77, 78, 83, 1);
      -moz-box-shadow: 0px 1px 1px 0px rgba(77, 78, 83, 1);
      box-shadow: 0px 1px 1px 0px rgba(77, 78, 83, 1);

      li {
        transition: 0.2s all;
        font-size: 1.3rem;
        padding: 0.8rem;

        &:hover {
          background-color: $primary-color;
          cursor: pointer;
        }
      }
    }
  }

  button {
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    font-family: $primary-font;
    transition: all 0.2s;
    border: 0.1rem solid $primary-color;

    &:focus {
      outline: none;
    }

    &:hover {
      color: white;
      background-color: $primary-color;
    }
  }
}
